.btn-add {
	background-color: #8bae97;
	color: black;
	position: fixed;
	display: flex;
	bottom: 2rem;
	width: 60px;
	right: 2rem;
	height: 60px;
	justify-content: center;
	align-items: center;
}
.btn-add:hover {
	background-color: #8bae97;
	color: black;
}

[aria-label="Employees"] {
	background-color: #b2e0d6;
	padding: 0.5rem 1rem;
	border-radius: 0.5rem 0;
}
